@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #101012;
  --color-primary: #6366f1;
  --color-accent: #00f2ff;
  --color-glass-bg: rgba(255, 255, 255, 0.02);
  --color-glass-border: rgba(255, 255, 255, 0.08);
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
    font-family: "Inter", sans-serif;
  }
}

.glass-card {
  background: var(--color-glass-bg);
  backdrop-filter: blur(12px);
  border: 1px solid var(--color-glass-border);
}

/* Scrollbar invisible mais fonctionnelle */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
